@model CutOverlay.Models.TextModel

<div id="@Model.StyleIdDiv" class="styledTextDiv">
    <p id="@Model.StyleIdText" class="styledText">@Model.Text</p>
    <p id="@Model.StyleIdShadow" class="styledTextShadow">@Model.Text</p>
</div>