@using TextModel = CutOverlay.Models.TextModel
@model TextModel

<div id="@Model.StyleIdDiv" class="styledHeaderDiv">
    <p id="@Model.StyleIdText" class="styledHeaderText">@Model.Text</p>
    <p id="@Model.StyleIdShadow" class="styledHeaderTextShadow">@Model.Text</p>
</div>