@model CutOverlay.Models.TextModel

<div id="@Model.StyleIdDiv" class="styledHeaderDiv" style="height: @Model.FontSizeDivString;">
    <p id="@Model.StyleIdText" class="styledHeaderText overlayMessage" style="width: 100%; text-align: @Model.AlignmentStyle; font-size: @Model.FontSizeString;">@Model.Text</p>
</div>